### Vert.x
.vertx*
file-upload*
db*

### NPM
npm-debug.log
.travis*
.npmignore



### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar # we accept jars.
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

5-node-client/src/main/node/node_modules/.bin
5-sockjs-bridge/src/main/node/node_modules/.bin
out/production/3-clustered-eventbus/cluster.xml
out/production/4-eventbus-bridges/cluster.xml
out/production/4-eventbus-bridges/assets/index.html
out/production/4-eventbus-bridges/assets/package.json
out/production/4-eventbus-bridges/assets/lib/sockjs.min.js
out/production/4-eventbus-bridges/assets/node_modules/debug/.jshintrc
out/production/4-eventbus-bridges/assets/node_modules/debug/bower.json
out/production/4-eventbus-bridges/assets/node_modules/debug/browser.js
out/production/4-eventbus-bridges/assets/node_modules/debug/component.json
out/production/4-eventbus-bridges/assets/node_modules/debug/debug.js
out/production/4-eventbus-bridges/assets/node_modules/debug/History.md
out/production/4-eventbus-bridges/assets/node_modules/debug/Makefile
out/production/4-eventbus-bridges/assets/node_modules/debug/node.js
out/production/4-eventbus-bridges/assets/node_modules/debug/package.json
out/production/4-eventbus-bridges/assets/node_modules/debug/Readme.md
out/production/4-eventbus-bridges/assets/node_modules/eventsource/CONTRIBUTING.md
out/production/4-eventbus-bridges/assets/node_modules/eventsource/example.js
out/production/4-eventbus-bridges/assets/node_modules/eventsource/History.md
out/production/4-eventbus-bridges/assets/node_modules/eventsource/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/eventsource/package.json
out/production/4-eventbus-bridges/assets/node_modules/eventsource/README.md
out/production/4-eventbus-bridges/assets/node_modules/eventsource/lib/eventsource.js
out/production/4-eventbus-bridges/assets/node_modules/eventsource/test/certificate.pem
out/production/4-eventbus-bridges/assets/node_modules/eventsource/test/eventsource_test.js
out/production/4-eventbus-bridges/assets/node_modules/eventsource/test/key.pem
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/CHANGELOG.md
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/package.json
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/README.md
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/autobahn_client.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/client.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/haproxy.conf
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/server.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/sse.html
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/examples/ws.html
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/eventsource.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/websocket.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/websocket/api.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/websocket/client.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/websocket/api/event.js
out/production/4-eventbus-bridges/assets/node_modules/faye-websocket/lib/faye/websocket/api/event_target.js
out/production/4-eventbus-bridges/assets/node_modules/inherits/inherits.js
out/production/4-eventbus-bridges/assets/node_modules/inherits/inherits_browser.js
out/production/4-eventbus-bridges/assets/node_modules/inherits/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/inherits/package.json
out/production/4-eventbus-bridges/assets/node_modules/inherits/README.md
out/production/4-eventbus-bridges/assets/node_modules/inherits/test.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/.bowerrc
out/production/4-eventbus-bridges/assets/node_modules/jquery/.jscsrc
out/production/4-eventbus-bridges/assets/node_modules/jquery/AUTHORS.txt
out/production/4-eventbus-bridges/assets/node_modules/jquery/bower.json
out/production/4-eventbus-bridges/assets/node_modules/jquery/CONTRIBUTING.md
out/production/4-eventbus-bridges/assets/node_modules/jquery/MIT-LICENSE.txt
out/production/4-eventbus-bridges/assets/node_modules/jquery/package.json
out/production/4-eventbus-bridges/assets/node_modules/jquery/README.md
out/production/4-eventbus-bridges/assets/node_modules/jquery/dist/jquery.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/dist/jquery.min.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/dist/jquery.min.map
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/callbacks.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/data.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/deferred.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/deprecated.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/dimensions.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/effects.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/event.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/intro.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/jquery.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/manipulation.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/offset.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/outro.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/queue.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/selector-native.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/selector-sizzle.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/selector.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/serialize.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/traversing.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/wrap.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/jsonp.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/load.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/parseJSON.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/parseXML.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/script.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/xhr.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/var/nonce.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/ajax/var/rquery.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes/attr.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes/classes.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes/prop.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes/support.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/attributes/val.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core/access.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core/init.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core/parseHTML.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core/ready.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/core/var/rsingleTag.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/addGetHookIf.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/curCSS.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/defaultDisplay.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/hiddenVisibleSelectors.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/support.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/swap.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/var/cssExpand.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/var/getStyles.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/var/isHidden.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/var/rmargin.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/css/var/rnumnonpx.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/data/accepts.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/data/Data.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/data/var/data_priv.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/data/var/data_user.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/effects/animatedSelector.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/effects/Tween.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/event/ajax.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/event/alias.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/event/support.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/exports/amd.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/exports/global.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/manipulation/_evalUrl.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/manipulation/support.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/manipulation/var/rcheckableType.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/queue/delay.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/dist/sizzle.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/dist/sizzle.min.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/dist/sizzle.min.map
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/index.html
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/jquery.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/data/empty.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/data/mixed_sort.html
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/data/testinit.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/unit/extending.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/unit/selector.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/sizzle/test/unit/utilities.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/traversing/findFilter.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/traversing/var/rneedsContext.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/arr.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/class2type.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/concat.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/hasOwn.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/indexOf.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/pnum.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/push.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/rnotwhite.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/slice.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/strundefined.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/support.js
out/production/4-eventbus-bridges/assets/node_modules/jquery/src/var/toString.js
out/production/4-eventbus-bridges/assets/node_modules/json3/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/json3/package.json
out/production/4-eventbus-bridges/assets/node_modules/json3/README.md
out/production/4-eventbus-bridges/assets/node_modules/json3/lib/json3.js
out/production/4-eventbus-bridges/assets/node_modules/json3/lib/json3.min.js
out/production/4-eventbus-bridges/assets/node_modules/ms/History.md
out/production/4-eventbus-bridges/assets/node_modules/ms/index.js
out/production/4-eventbus-bridges/assets/node_modules/ms/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/ms/package.json
out/production/4-eventbus-bridges/assets/node_modules/ms/README.md
out/production/4-eventbus-bridges/assets/node_modules/original/index.js
out/production/4-eventbus-bridges/assets/node_modules/original/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/original/package.json
out/production/4-eventbus-bridges/assets/node_modules/original/README.md
out/production/4-eventbus-bridges/assets/node_modules/original/test.js
out/production/4-eventbus-bridges/assets/node_modules/querystringify/index.js
out/production/4-eventbus-bridges/assets/node_modules/querystringify/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/querystringify/package.json
out/production/4-eventbus-bridges/assets/node_modules/querystringify/README.md
out/production/4-eventbus-bridges/assets/node_modules/querystringify/test.js
out/production/4-eventbus-bridges/assets/node_modules/requires-port/index.js
out/production/4-eventbus-bridges/assets/node_modules/requires-port/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/requires-port/package.json
out/production/4-eventbus-bridges/assets/node_modules/requires-port/README.md
out/production/4-eventbus-bridges/assets/node_modules/requires-port/test.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/Changelog.md
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/COPYING
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/package.json
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/README.md
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/entry.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/facade.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/iframe-bootstrap.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/info-ajax.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/info-iframe-receiver.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/info-iframe.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/info-receiver.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/location.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/main.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/shims.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport-list.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/version.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/event/close.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/event/emitter.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/event/event.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/event/eventtarget.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/event/trans-message.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/eventsource.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/htmlfile.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/iframe.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/jsonp-polling.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/websocket.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/xdr-polling.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/xdr-streaming.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/xhr-polling.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/xhr-streaming.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/browser/abstract-xhr.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/browser/eventsource.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/browser/websocket.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/driver/websocket.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/driver/xhr.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/lib/ajax-based.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/lib/buffered-sender.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/lib/iframe-wrap.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/lib/polling.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/lib/sender-receiver.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/receiver/eventsource.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/receiver/htmlfile.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/receiver/jsonp.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/receiver/xhr.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/sender/jsonp.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/sender/xdr.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/sender/xhr-cors.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/sender/xhr-fake.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/transport/sender/xhr-local.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/browser-crypto.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/browser.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/escape.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/event.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/iframe.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/log.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/object.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/random.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/transport.js
out/production/4-eventbus-bridges/assets/node_modules/sockjs-client/lib/utils/url.js
out/production/4-eventbus-bridges/assets/node_modules/url-parse/.zuul.yml
out/production/4-eventbus-bridges/assets/node_modules/url-parse/fuzzy.js
out/production/4-eventbus-bridges/assets/node_modules/url-parse/index.js
out/production/4-eventbus-bridges/assets/node_modules/url-parse/LICENSE
out/production/4-eventbus-bridges/assets/node_modules/url-parse/lolcation.js
out/production/4-eventbus-bridges/assets/node_modules/url-parse/package.json
out/production/4-eventbus-bridges/assets/node_modules/url-parse/README.md
out/production/4-eventbus-bridges/assets/node_modules/url-parse/test.js
out/production/4-eventbus-bridges/assets/node_modules/vertx3-eventbus-client/package.json
out/production/4-eventbus-bridges/assets/node_modules/vertx3-eventbus-client/README.md
out/production/4-eventbus-bridges/assets/node_modules/vertx3-eventbus-client/vertx-eventbus.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/CHANGELOG.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/CODE_OF_CONDUCT.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/package.json
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/README.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/examples/tcp_server.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/http_parser.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/streams.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/base.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/client.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/draft75.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/draft76.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/headers.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/hybi.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/proxy.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/server.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/stream_reader.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/hybi/frame.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-driver/lib/websocket/driver/hybi/message.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/CHANGELOG.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/package.json
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/README.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/parser.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/websocket_extensions.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/cell.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/functor.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/index.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/pledge.js
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/README.md
out/production/4-eventbus-bridges/assets/node_modules/websocket-extensions/lib/pipeline/ring_buffer.js
